node_modules
dist
esm
lib
.vscode/settings.json
coverage

*.log

*.tgz
/docs/.DS_Store
/.DS_Store
docs/*.html
docs/fonts
docs/scripts
docs/styles

.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd

.idea/