{
    "branches": [
        "master",
        "next",
        {
            "prerelease": true,
            "name": "beta"
        },
        {
            "prerelease": true,
            "name": "alpha"
        }
    ]
}