name: Build, Test and Publish
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
      - 'alpha'
      - 'main'
      - 'next'
jobs:
  build-test-publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: "Setup node with cache"
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn run format
      - run: yarn run build

      - name: "Setup git coordinates"
        run: |
          git config user.name ${{secrets.GH_USER}}
          git config user.email ${{secrets.GH_EMAIL}}

      - name: "Run semantic-release"
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/alpha'
        run: yarn run release
